:root {
  --font-family: 'Montserrat Variable';
  --color-primary: #bb2525;
  --dark: #121212;
  --white: #ffffff;
  --gray: rgba(255, 255, 255, 0.7);
  --toastify-toast-width: 'fit-content';
  --toastify-toast-min-height: 'fit-content';
}
