@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_variables.scss';

html,
body,
#root {
  height: 100dvh;
}

body {
  font-family: var(--font-family);
  color: #ffffff;
  background-color: #000000;
}

.smooth-dnd-container {
  min-height: 0 !important;
}
