@mixin tableTracks($type) {
  @apply grid gap-3 p-3 text-left items-center w-full text-white/70;

  @if $type == 'tracks' {
    @apply hover:bg-white/10 rounded-lg hover:text-white;
  }

  @if $type == 'tracks_queue' {
    grid-template-columns: 30px 6fr 2fr 30px 50px 20px;
  } @else {
    grid-template-columns: 30px 5fr 4fr 3fr 30px 50px 20px;
  }

  @media (width <= 1000px) {
    @if $type == 'tracks_queue' {
      grid-template-columns: 30px 5.5fr 2.5fr auto 20px;
    } @else {
      grid-template-columns: 30px 5fr 3fr 30px 50px 20px;
    }

    & *:nth-child(4) {
      display: none;
    }
  }

  @media (width <= 768px) {
    grid-template-columns: 30px 1fr 20px;
    grid-template-columns: 30px 1fr 20px;

    & *:nth-child(3) {
      display: none;
    }
  }
}

@mixin mainBox {
  @apply p-4 bg-black rounded-lg;
}
