@import '/src/app/styles/mixins.scss';

.aside {
  @apply w-[400px] flex flex-col gap-4;
  grid-area: sidebar;

  @media (width < 1440px) {
    width: 300px;
  }

  @media (width < 1024px) {
    width: 200px;
  }

  @media (width < 768px) {
    width: auto;
  }
}

.navigation,
.media_library {
  @include mainBox;
}

.link {
  @apply flex items-center font-semibold gap-4 opacity-80 hover:opacity-100 transition-opacity;

  @media (width < 768px) {
    & span {
      display: none;
    }
  }
}

.activeLink {
  opacity: 1;
}

@media (width < 768px) {
  .aside {
    position: fixed;
  }
}
